body
{
    margin-top: 20px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Open Sans", sans-serif, "Helvetica", "Arial";
}

h4
{
    margin-top: 20px;
    margin-bottom: 10px;
}

.container
{
    margin-bottom: 20px;
}

.sample
{
    width: 50%;
    background-color: whiteSmoke;
    display: block;
    padding: 8.5px;
    margin: 0 0 18px;
    line-height: 18px;
    font-size: 12px;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-image: initial;
}

code
{
    display: block;
    background: none;
    font-family: "Consolas", "Courier New";
}
