body
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.container ul.main-list
{
    margin: 0;
    margin-top: 10px;
}

.container .main-list li
{
    list-style-type: none;
}

.container .main-list li a
{
    display: block;
    padding: 20px;
    text-align: center;
    color: #00A6FC;
    font-size: 15px;
    font-weight: bold;
}

.container .main-list li a:hover
{
    color: #fff;
    background-color: #00A6FC;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Open Sans";
}

a
{
    color: #00A6FC;
}

a:hover
{
    color: #11639D;
}

#content {
    margin-top: 20px;
}


.sample
{
    width: 50%;
    background-color: whiteSmoke;
    display: block;
    padding: 8.5px;
    margin: 0 0 18px;
    line-height: 18px;
    font-size: 12px;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-image: initial;
}

code
{
    display: block;
    background: none;
    font-family: "Consolas", "Courier New";
}

.loading
{
    width: 16px; height: 16px;
    background: url(../ajax-loader.gif);
}

.desc {
    margin-left: 0;
}

.desc li {
    list-style-type: none;
    padding-bottom: 3px;
    color: #333;
}

.desc .tag {
    font-weight: bold;
    font-size: 90%;
    text-align: right;
    display: inline-block;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    width: 95px;
    color: #fff;
    background-color: #00A6FC;
}

#check-textarea {
    font-family: 'Consolas', 'Courier New', 'Open Sans', sans-serif;
    width: 885px;
    height: 200px;
    margin-bottom: 10px;
}
