<html>
<head>
    <meta charset="utf-8">
    <title>Challenge Name</title>

    <link rel="stylesheet" type="text/css" href="../resources/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/app.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>

    <div class="container">
        <h2>Challenge Name</h2>
        <span class="back"><a href="http://proof.github.com/programming-challenges/">nazad</a></span>

        <h4>Opis:</h4>
        <p>Challenge Description</p>

        <p><strong>Postavio:</strong> <a href="http://www.sk.rs/forum/member.php?u=####">MemberName</a></p>

        <h4>Ulaz:</h4>
        <p><!-- input text --></p>

        <h4>Izlaz:</h4>
        <p><!-- output text --></p>

        <h4>Primer:</h4>
        <table class="sample">
            <tr>
                <td>Ulaz</td>
                <td>Izlaz</td>
            </tr>
            <tr>
                <td><code><!-- input goes here --></code></td>
                <td><code><!-- output goes here --></code></td>
            </tr>
        </table>
    </div>

</body>
</html>
